
   <!-- Page Title
   ================================================== -->
   <section id="page-title">	
   	  
		<div class="row">

			<div class="twelve columns">

				<h1>电商<span></span></h1>
				<p>电商是发财之道</p>

			</div>			    

		</div> <!-- /row -->	   

   </section> <!-- /page-title -->


   <!-- Content
   ================================================== -->
   <section id="content">

   	<div class="row portfolio-content">

	   	<div class="entry tab-whole nine columns centered">

	         <header class="entry-header">

					<h1 class="entry-title">
							电商==发财之道
					</h1> 				
						 
				</header>

				<div class="entry-content">
					<p class="lead">电子商务是以信息网络技术为手段，以商品交换为中心的商务活动；也可理解为在互联网（Internet）、企业内部网（Intranet）和增值网（VAN，Value Added Network）上以电子交易方式进行交易活动和相关服务的活动，是传统商业活动各环节的电子化、网络化、信息化。</p>

					<p>电子商务通常是指在全球各地广泛的商业贸易活动中，在因特网开放的网络环境下，基于浏览器/服务器应用方式，买卖双方不谋面地进行各种商贸活动，实现消费者的网上购物、商户之间的网上交易和在线电子支付以及各种商务活动、交易活动、金融活动和相关的综合服务活动的一种新型的商业运营模式。各国政府、学者、企业界人士根据自己所处的地位和对电子商务参与的角度和程度的不同，给出了许多不同的定义。电子商务分为：ABC、B2B、B2C、C2C、B2M、M2C、B2A（即B2G）、C2A（即C2G）、O2O 等。</p>
				</div>

				<div class="entry-content-media">
					<div class="post-thumb">
						<img src="images/portfolio/b-coffee-02.jpg">
						<img src="images/portfolio/b-coffee-01.jpg">
					</div> 
				</div> 					 										   
	         
	      </div> <!-- /entry -->	      

	   </div> <!-- /portfolio-content -->

   </section> <!-- /content -->  
