
   <!-- Page Title
   ================================================== -->
   <section id="page-title">	
   	  
		<div class="row">

			<div class="twelve columns">

				<h1>情感<span></span></h1>
				<p>我来了</p>

			</div>			    

		</div> <!-- /row -->	   

   </section> <!-- /page-title -->


   <!-- Content
   ================================================== -->
   <section id="content">

   	<div class="row portfolio-content">

	   </div> <!-- /portfolio-content -->
	   

		<div class="row more-projects">

		   <h1>情感的世界</h1> 

			<div class="tab-whole nine columns centered">

	         <div id="portfolio-wrapper" class="bgrid-half tab-bgrid-halfgroup">

	          	<div class="bgrid item">
	               <div class="item-wrap">

                        <img src="images/emotion-01.jpg" alt="Beetle">                      
                        <div class="overlay">
                        	<div class="portfolio-item-meta">
          					      <h5>Beetle</h5>
                              <p>Branding</p>
          					   </div>
                        </div>                        

	               </div>
	          	</div> <!-- /item -->

	            <div class="bgrid item">
	               <div class="item-wrap">

                        <img src="images/emotion-02.jpg" alt="Banjo Player">
                        <div class="overlay">
                        	<div class="portfolio-item-meta">
          					      <h5>Banjo Player</h5>
                              <p>Videography</p>
          					   </div>
                        </div>                       

	               </div>
	          	</div> <!-- item end -->

	            <div class="bgrid stack item">
	               <div class="item-wrap">

                        <img src="images/emotion-03.jpg" alt="Judah">                       
                        <div class="overlay">
                        	<div class="portfolio-item-meta">
          					      <h5>Judah</h5>
                              <p>Web Design</p>
          					   </div>
                        </div>                        

	               </div>
	         	</div> <!-- item end -->

	            <div class="bgrid item">
	               <div class="item-wrap">

                        <img src="images/emotion-04.jpg" alt="Grizzly">
                        <div class="overlay"></div>                       
                        <div class="portfolio-item-meta">
          					      <h5>Grizzly</h5>
                              <p>Photography</p>
          					</div>                         

	               </div>
	         	</div> <!-- item end -->               

	         </div> <!-- /portfolio-wrapper -->

	      </div> <!-- /nine -->

		</div> <!-- /more-projects --> 

   </section> <!-- /content -->  
