 <div id="preloader"> 
	   <div id="status">
         <img src="images/loader.gif" height="60" width="60" alt="">
         <div class="loader">Loading...</div>
      </div>
   </div>
   
   <!-- Header
   =================================================== -->
   <header id="main-header">

   	<div class="row header-inner">

	      <div class="logo">
	         <a class="smoothscroll" href="#/">董广明</a>
	      </div>

	      <nav id="nav-wrap">     

	         <ul id="nav" class="nav">
	            <li class="current"><a class="smoothscroll" href="#/">主页</a></li>
		         <li><a class="smoothscroll" href="#/python">Python</a></li>
	            <li><a class="smoothscroll" href="#/django">Django</a></li>
	            <li><a class="smoothscroll" href="#/javascript">Javascript</a></li>
	            <li><a class="smoothscroll" href="#/web">Web</a></li>	            
	            <li><a class="smoothscroll" href="#/e-commerce">电商</a></li>
	            <li><a class="smoothscroll" href="#/emotion">情感</a></li>	            
	            <li><a class="smoothscroll" href="#/me">我</a></li>
	         </ul> 

	      </nav> <!-- /nav-wrap -->	      

	   </div> <!-- /header-inner -->

   </header> 
   
   <!-- Hero
   =================================================== -->
   <section id="hero">	
   	  
		<div class="row hero-content">

			<div class="twelve columns flex-container">

			   <div id="hero-slider" class="flexslider">

				   <ul class="slides">

					   <!-- Slide -->
					   <li>
						   <div class="flex-caption">
								<h1>I like python</h1>	
								<p><a class="button stroke smoothscroll" href="#/python">更多Python</a></p>																   
							</div>						
					   </li>

					   <!-- Slide -->
					   <li>						
							<div class="flex-caption">
								<h1 >I like django</h1>	
								<p><a class="button stroke smoothscroll" href="#/django">更多Django</a></p>									   
							</div>					
					   </li>

					   <!-- Slide -->
					   <li>
						   <div class="flex-caption">
								<h1 >I like JS</h1>
								<p><a class="button stroke smoothscroll" href="#/javascript">更多JS</a></p>										   
							</div>
					   </li>					              

				   </ul>

			   </div> <!-- .flexslider -->				   

	      </div> <!-- .flex-container -->      

		</div> <!-- .hero-content -->	   

   </section> <!-- #hero -->
